NEXT_PUBLIC_SUPABASE_URL=https://aromvduuxtcrzmwwvnej.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEYeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyb212ZHV1eHRjcnptd3d2bmVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NDAyMTIsImV4cCI6MjA5NjIxNjIxMn0.iGVCgaAE81kqViywEs-kgs-_Vk0_nMapXBQLRUE9IH8
SUPABASE_SERVICE_ROLE_KEY=sb_secret_RSFlkwk-2DJA8vse_9qQzg_Dk_E9vs3
NEXT_PUBLIC_APP_URL=http://localhost:3000
ANTHROPIC_API_KEY=sk-ant-api03-sIchZdV7LFosHupJNSx2t52uVfQNHOIggFiogAi7iXHd_Xuv9j81PKjvREK532YBylV4eYY96Vi4wlkQh0pHQ-BU5YPQAA
